header{
    background-color:#FAF7F0;
    color: blue;
    padding: 20px;
}
nav{
    background-color:#CDFCF6;
    
}
section{
    display: grid;
    background-color: rgb(218, 183, 159);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article{
    background-color: #BCCEF8;
    grid-column: 1/4;
}
aside{
    background-color: aquamarine;
    padding: 10px;
    grid-column: 4/5;
}
footer{
    background-color: rgb(157, 105, 206);
    padding: 30px;
}
.menu{
   padding: 0px 20px; 
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: row ;
   justify-content: center;
   align-items: flex-start;
}
.menu>li{
    float: left;

}
.menu li{
    background-color: rgb(115, 128, 118);
    color: #fff;
    text-decoration: none;
    padding: 20px 80px ;
    display: block;
}
.menu li a:hover{
    background-color: blue;
}
.menu li ul{
    display: none;
    margin-left: auto ;
    margin-right: auto;
    position:absolute;
    min-width:140px;
}
.menu li a:hover ul{
    display: block;
}
.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right: 140px;
}
    
